:root {
  --bg-color: #080808;
  --accent-color: #e26d5c;
  /* --soft-color: #1f0f2e; */
  --main-color: #fffffa;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: 115%;
  line-height: 1em;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Times";
  /* font-weight: ; */
  /* font-weight: lighter; */
  /* font-weight: 100; */
}

h1,
strong,
h2,
h4 {
  font-family: "OT Jubilee";
  letter-spacing: -0.3px;
  /* font-weight: lighter; */
  text-transform: lowercase;
  font-weight: lighter;
}
h3 {
  /* font-weight: 500; */
  font-family: "OT Jubilee";
  /* letter-spacing: -0.9px; */
}

ol {
  list-style: none;
  counter-reset: col;
}

ol li {
  counter-increment: col;
}

ol li::before {
  content: counter(col) ". ";

  padding-right: 0.2em;

  opacity: 0.55;
  font-style: italic;
}

ul {
  list-style: none;
  counter-reset: cul;
}

ul li {
  counter-increment: cul;
}

ul li::before {
  content: "• ";

  padding-right: 0.3em;
  top: 0.5em;
  opacity: 0.55;
  font-style: italic;
}

/* li::content {
  margin-left: 0.5em;
} */

li {
  /* list-style-type: disc; */
  /* list-style-position: inside; */
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.5em;
  padding-bottom: 0.4em;
}

p {
  /* padding-bottom: 0.8em; */
  line-height: 1.5em;
}

h3 {
  font-style: italic;
  font-weight: bold;
}

div.hubble-div + div.hubble-div {
  padding-top: 0.8em;
}

p.hubble-p + p.hubble-p {
  padding-top: 0.8em;
}
